body {
  background-color: black;
  height: 2000px;
}

ul {
  display: flex;
  flex-direction: row;
  background: rgb(126, 2, 2);
  margin: 200px 100px;
  padding: 0;
}

ul > li {
  list-style: none;
  border: 1px solid black;
  height: 30rem;
  width: 20%;
}

.men {
  background: no-repeat center/100% url("../img/señor1.png");
}

.lady {
  background: no-repeat center/100% url("../img/señora1.png");
}

button {
  border: none;
  background-color: black;
  color: white;
  width: 8rem;
  height: 4rem;
  font-size: 20px;
}

h1 {
  margin: 20px 20px;
}

section > button {
  position: absolute;
  bottom: 130px;
}

li > :last-child {
  background-color: rgb(199, 199, 199);
  padding: 0px 20px;
  font-size: 20px;
}

li > :nth-child(2) > p {
  color: white;
  padding: 20px 40px;
  font-size: 20px;
}

input {
  margin: 60px 40px 0;
  width: 40rem;
  height: 6rem;
  font-size: 25px;
  text-align: center;
}

#win {
  background: white;
  font-size: 40px;
  margin: 10px 500px;
  padding: 20px;
  text-align: center;
  height: 100px;
  box-sizing: border-box;
}

header {
  display: flex;
  flex-direction: row;
  margin: 0px 600px 0px;
}

header > button {
  border: 1px solid white;
  margin-top: 80px;
}
